extends layout

block content
    h1= lesson.title
    p= lesson.description
    h2 Дополнительные материалы
    ul
    - for (let i = 0; i < lesson.attachments.length; i++) {
        li
            a(href="/course/#{courseId}/lesson/#{lesson.id}/attachment/#{lesson.attachments[i].id}")= lesson.attachments[i].filename
            p= lesson.attachments[i].description
    - }
    h2 Комментарии
    - for (let i = 0; i < lesson.comments.length; i++) {
        p= lesson.comments[i].content
    - }
    form(class="form" method="post" action="/course/#{courseId}/lesson/#{lesson.id}/comment")
        label(class="formRow") Комментарий
            textarea(name="content" cols="30" rows="10")
        div(class="formActions")
            button(type="submit") Добавить
    if isOwner
        h3 Дополнительный материал
        form(class="form" method="post" action="/course/#{courseId}/lesson/#{lesson.id}/attachment" enctype="multipart/form-data")
            label(class="formRow") Файл
                input(type="file" name="attachment")
            label(class="formRow") Описание
                textarea(name="description" cols="30" rows="10")
            div(class="formActions")
                button(type="submit") Добавить
    div(class="backNavigation")
        a(href="/course/#{courseId}") Вернуться к занятиям курса
